body{
    text-align:center;
    font-family: 'ＭＳ Ｐ明朝','MS PMincho','ＭＳ 明朝', 'MS Mincho','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    background:white;
    margin:0 0;
    padding:0 0;
}


.contaigner{
    width:880px;
    height:auto;
    margin:30px auto 100px auto;
    padding:30px 0 ;
    background:white;
}


ul {
    list-style: none;
    padding: 0;
    margin:0;
  }

li{
  margin:5px 0;
}

.header{
    position:relative;
}

.header h1{
    position: absolute;
    color:#222222;
    top:40vh;
    right:50px;
    font-size:45px;
    padding-left:40px;
    padding-bottom:5px;
}

.header h1:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #222222;
}
.header h1:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #333333;
}

h2 {
    position: relative;
    padding: 0.25em 0;
    font-size:30px;
  }

  h2:after {
    content: "";
    display: block;
    height: 2px;
    background: -webkit-linear-gradient(to right, #444444, transparent);
    background: linear-gradient(to right, #444444, transparent);
  }

.header_img{
    width:100%;
    position:relative;
    height: 60vh;
    margin: 0 0;
    padding:0 0;
}

.name{
  margin-top:5px;
  margin-bottom:5px;
}

.message{
    margin-top:30px;
    margin-bottom:3px;
}


textarea{
  width:400px;
  height:100px;
  border: dotted 1px #333333;
  border-radius: 2px;
  box-shadow: 0 0 8px #e2e2e2;
  margin-top:0;
}

.button{
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  color: white;
  background:#555555;
  border: dashed 1px #555555;
  border-radius: 3px;
  transition: .4s; 
  margin: 10px;
}

.button:hover {
  border-style: dotted;
  color: #333333;
  background:white;
}

/* ------------------------------- */
.user_box_front {
  margin: 10px 100px 10px 100px;
  padding:30px;
  display: flex;
  text-align:left;  
 } 

element.style {
  background-image: url(https://menta.work/resource/img/noimage.png);
}

.user_box_front{
  position:relative;
}

.user_box_front .icon {
  margin: 0 20px;
  padding:0 0 30px 0;
}


.fa-user-circle {
  zoom:3;
}

.fa-user-circle {
  margin: 0 10px 10px 0;
  float:left;
}

.comment .small2{

  width:600px;
  text-align:left;
  padding: 25px 0;
}

.user_box_front{
  width: 80%;
  margin: 0 auto;
  max-width:700px;
  
}

.bold {
  font-weight: 700;
  float:left;
  margin:0 15px 0 0;
}

.plan_detail .small {
  font-size: 13px!important;
  color: #666;
  float:left;
}

.plan_detail .small2 {
  font-size: 14px!important;
}

button{
  position:absolute;
  right:30px;
  bottom:10px;
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  color: #333333;
  background:white;
  border: dashed 1px #333333;
  border-radius: 3px;
  transition: .4s; 
}

button:hover {
  border-style: dotted;
  color: white;
  background:#555555;
}

.sns{
  font-size:23px;
}

.sns>a{
  margin:30px 10px;
}

.sns>a{
  color:#333333;
}
.sns>a:hover{
  color:skyblue;
}






