<?php

/**
 * このアプリケーションの中で全体的に使われるパラメータ
 * @return array
 */
function getGrobalConfig() {
    return [
        'mysql' => [
            'username' => '',
            'password' => '',
            'dbname' => '',
            'host' => ''
        ]
    ];
}
